#madie-editor-value-sets {
  .search-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    column-gap: 24px;

    > .search-row {
      display: flex;
      flex-direction: row;
      column-gap: 24px;
      margin-bottom: 24px;
    }
  }

  .row-end {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;

    > button {
      margin-left: 24px;

      // overwrites weird qpp style rule that ties margin to buttons in forms.
      &[type="submit"] {
        margin-top: 0;
      }
    }
  }
}
