.editor-error-underline {
  border-bottom: 0.2em dotted red;
  position: absolute;
}

.ace_gutter-cell {
  color: #9c9c9c;
}

.ace_comment {
  color: #9c9c9c !important;
}

.ace-monokai .ace_entity.ace_name.ace_tag,
.ace-monokai .ace_keyword,
.ace-monokai .ace_meta.ace_tag,
.ace-monokai .ace_storage {
  color: #fb4b8c !important;
}

.ace_scrollbar {
  scrollbar-color: #9c9c9c #9c9c9c;
  opacity: 1;
}
