$header-size: 14px;
$header-style: normal;
$header-weight: 500;
#value-sets-results-tbl {

  thead {
    background-color: #ededed;
    border-bottom: solid 1px #8c8c8c;
    // maybe overflow here.
    > tr > th {
      font-size: $header-size;
      font-style: $header-style;
      font-weight: $header-weight;
      padding: 16px;
      text-align: left;
      background-color: #ededed;
    }
  
    > tr > th:first-child {
      position: sticky !important;
      left: 0;
      z-index: 5;
    }
  
    > tr > th:last-child {
      position: sticky !important;
      right: 0;
      z-index: 5;
    }
  }
  
  tbody {
    tr > td:first-child {
      position: sticky;
      left: 0;
      background-color: #fff;
      z-index: 5;
    }
  
    tr > td:last-child {
      position: sticky;
      right: 0;
      background-color: #fff;
      z-index: 5;
    }
  
    tr > td {
      padding: 16px;
      border-bottom: 1px solid #8c8c8c;

      > div {
        .apply-button {
          padding: 0 !important;
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;
          font-family: Rubik, sans-serif;
          font-weight: 400;
          color: #000;
          font-size: 14px;
          display: flex;
          flex-direction: row;
          border: solid 1px #0073c8;
          border-radius: 4px;
          height: 39px;

          > .action {
            color: #0073c8;
            padding: 12px 21px;
            border-right: solid 1px #0073c8;
          }
          > .cheveron-container {
            padding: 7px 21px;
            border-right: solid 1px #0073c8;
            >svg {
              color: red;
            }
          }
        }
      }
    }
  }
}
