.code-list-updated-date {
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik";
  margin-bottom: 10px;

  .updated-date {
    font-style: italic;
  }
}

.tcl-table {
  border-collapse: collapse;
  border-spacing: 0 1em;
  border-bottom: solid 1px #8c8c8c;
  border-radius: 3px;
}
