.result-label {
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #333;
  margin-bottom: 8px;
}

.result-value {
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
}
