#includes-panel {
  .terminology-section-tab-heading {
    margin-top: 24px;
  }

  .row-end {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;

    > button {
      margin-left: 24px;

      &[type="submit"] {
        margin-top: 0;
      }
    }
  }
}

#library-results-tbl {
  tr > td {
    padding: 10px;
    border-bottom: 1px solid #8c8c8c;
  }
}

.result-value {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
}
